In [1]:
import datetime

In [2]:
t = datetime.time(5,25,1)

In [3]:
print(t)

05:25:01

In [4]:
t.tzname()

In [7]:
print(datetime.time.min)

00:00:00

In [8]:
print(datetime.time.max)

23:59:59.999999

In [9]:
print(datetime.time.resolution)

0:00:00.000001

In [10]:
today = datetime.date.today()

In [11]:
print(today)

2020-06-01

In [12]:
today.timetuple()

time.struct_time(tm_year=2020, tm_mon=6, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=153, tm_isdst=-1)

In [14]:
today.ctime()

'Mon Jun  1 00:00:00 2020'

In [18]:
print(datetime.date.min)

0001-01-01

In [19]:
print(datetime.date.max)

9999-12-31

In [20]:
d1 = datetime.date(2015,3,11)
print(d1)

2015-03-11

In [22]:
d2 = d1.replace(year=1990)

In [23]:
d2

datetime.date(1990, 3, 11)

In [24]:
d1

datetime.date(2015, 3, 11)

In [25]:
d2 - d1

datetime.timedelta(days=-9131)