In [1]:
mylist = [x for x in 'word']

In [2]:
mylist

['w', 'o', 'r', 'd']

In [3]:
list1 = []
for x in 'word':
    list1.append(x)

In [4]:
list1

['w', 'o', 'r', 'd']

In [5]:
mylist = [num**2 for num in range(2,20)]

In [6]:
mylist

[4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [7]:
mylist = [num for num in range(0,11) if num % 2 == 0]

In [8]:
mylist

[0, 2, 4, 6, 8, 10]

In [9]:
celcius = [0,20,30,32]
farenheit = [((9/5) * temp + 32) for temp in celcius]

In [10]:
farenheit

[32.0, 68.0, 86.0, 89.6]

In [13]:
mylist = [x if x % 2 == 0 else 'Odd' for x in range(0,11)]
mylist

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd', 10]

In [15]:
mylist = [x * y for x in [1,2,3] for y in [1,10,100]]
mylist

[1, 10, 100, 2, 20, 200, 3, 30, 300]