In [1]:
t = (1,2,3)

In [2]:
mylist = [1,2,3]

In [3]:
type(t)

tuple

In [4]:
type(mylist)

list

In [5]:
t

(1, 2, 3)

In [10]:
t = ("one",2)

In [11]:
t[0]

'one'

In [12]:
t[-1]

2

In [15]:
t.count('a')

0

In [16]:
t.index('n')

ValueError: tuple.index(x): x not in tuple